body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 38px;
}
section{
    margin-bottom: 100px;
}
#section1{ 
    text-align: center;
    background-image: url(Images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 600px;
    color: #fff;
}
#section1 div{
    padding-top: 150px;
}
.middle-align{
    width: 70%;
    margin: auto;
}
a{
    text-decoration: none;
}
.tomato{
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
#section2{
    text-align: center;
}
#section2 p{
    color: #707070;
}
#section2 span{
    display: inline-block;
    color: #707070;
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0;
    padding: 40px 30px;
}
#selected{
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    border-radius: 5%;
}
#donation-amount{
    border: none;
    border-bottom: 1px solid #767676;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 20px;
}
#button{
    border: none;
    margin: 30px;
}